body{
    margin-left: 50px !important;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(135deg, #ffffffa9 0%, #a3a6aa57 40%,  #756d8062 100%);
    overflow-x: hidden;
    font-family: "Poppins", sans-serif !important;
}


.welcome-text{
    margin-top: 20px;
    width: 20%;
    margin-top: 20px;
    font-weight: 700;
    background-image:linear-gradient(135deg, #b6bebe63 0%, #cfd9e979 100%);
    box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.397);
    text-shadow:0px 2px 4px rgba(0, 0, 0, 0.2); ;
    border: 3px solid rgba(240, 240, 240, 0.192);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    white-space: nowrap;


    
}
   


.hello-text{
     color: rgba(255, 255, 255, 0.753);
     text-shadow: 2px 2px 5px rgba(194, 194, 194, 0.548);
     font-weight: 700;
     
}

.world-class-box{
    background-image:linear-gradient(135deg, #b6bebe63 0%, #cecece79 100%);
    box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.397);
    text-shadow:0px 2px 4px rgba(0, 0, 0, 0.2); ;
    border: 1px solid rgba(143, 143, 143, 0.164);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    margin-top: 8%;
    height:190px;
    overflow-y: auto;
   
    
}

.world-{
    font-weight: 700;
    color: #7070709f;
    padding-top: 2px;
    margin-top: 20px;
    padding-left: 25px;
    overflow-x: hidden;
    
    
}

.world-:hover,.m-p-h2:hover,.about-my-self-h2:hover{
    color: #ffffffaf;
    font-weight: 700;
    background-image:linear-gradient(135deg, #b6bebebe 0%, #cfd9e9 100%);
    text-shadow:0px 2px 4px rgba(0, 0, 0, 0.2); ;
    border: 1px solid rgba(185, 185, 185, 0.473);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding-bottom: 1px;
    width: 40%;
    display: inline-block;
}
  




.insahallah-p{
    color: #756d80b4;
    padding-left: 25px;
}

.facebook{
    margin-left: 25px;
    text-decoration: none;
    color: #ffffffaf;
    font-weight: 700;
    background-image:linear-gradient(135deg, #b6bebebe 0%, #cfd9e9 100%);
    text-shadow:0px 2px 4px rgba(0, 0, 0, 0.2); ;
    border: 1px solid rgba(185, 185, 185, 0.473);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    transition: 0.3s;

}

.facebook:hover{
    transform: scale(1.05);
    color: white;
  
}





.sundarban-image{
    text-align: right;
}

.image-fluid{
    width: 70%;
    padding: 7%;
    
}

.metro-video-backcover{
    width: 70%;
    box-shadow: 5px 5px 5px rgba(201, 201, 201, 0.534);
    background-image: linear-gradient(135deg, #b6bebe63 0%, #cfd9e9a1 100%);
    border-radius: 5px;
    border-left: 20px solid ;
    border-image: linear-gradient(135deg, #b6b6b6 0%, #00000080 100%);
    border-image-slice: 1;
}


.metro-video{
    width: 80%;
    border-radius: 30px !important;
    padding: 20px;
    margin-left: 10%;
    box-shadow: 5px 5px 10px rgba(201, 201, 201, 0.164);
}

.metro-tour-explain{
     background-image:linear-gradient(135deg, #b6bebe63 0%, #cecece79 100%);
    box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.397);
    text-shadow:0px 2px 4px rgba(0, 0, 0, 0.2); ;
    border: 1px solid rgba(143, 143, 143, 0.164);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    height:190px;
    overflow-y: auto;
   
}


.metro-tour-explain{
    min-height: 250px;
    margin-right: 7%;
    
}

.m-p-h2{
    color: #6d7470b4;
    font-weight: 700;
    margin-left: 10px;
    padding-top: 2px;
    margin-top: 20px;
    
}
.m-p-box{
    color: #756d80b4;
    margin-left: 5px;
    line-height: 1.5;
    
}

.about-my-self{
     background-image:linear-gradient(135deg, #b6bebe63 0%, #cecece79 100%);
    box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.397);
    text-shadow:0px 2px 4px rgba(0, 0, 0, 0.2); ;
    border: 1px solid rgba(143, 143, 143, 0.164);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    overflow-y: auto;
    margin-top: 50px;
    min-height: 230px;
    max-height: 250px;
   
}
.about-my-self-h2{
    color: #6d7470b4;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 2px;
    margin-top: 20px;
}
.about-my-self-pg{
    color: #756d80b4;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
    
}

.tiktok{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    text-decoration: none;
    color: #ffffffaf;
    font-weight: 700;
    background-image:linear-gradient(135deg, #b6bebebe 0%, #cfd9e9 100%);
    text-shadow:0px 2px 4px rgba(0, 0, 0, 0.2); ;
    border: 1px solid rgba(185, 185, 185, 0.473);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    transition: 0.3s;

}

.tiktok:hover{
    transform: scale(1.05);
    color: white;
  
}

.about-my-self-p{
    margin-top: 50px;
     background-image:linear-gradient(135deg, #b6bebe63 0%, #cecece79 100%);
    box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.397);
    text-shadow:0px 2px 4px rgba(0, 0, 0, 0.2); ;
    border: 1px solid rgba(143, 143, 143, 0.164);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    max-height:250px;
    overflow-y: auto;
   
}

.p-aboute-website{
    color: #756d80b4;
    margin-left: 20px;
    line-height: 1.5;
    margin-right: 20px;
    
}


.album-img{
    width: 100%;
}
.album{
    border: 5px solid rgba(185, 185, 185, 0.473);
    border-radius: 10px;
    margin-top: 18%;
    margin-left: 23%;
    width: 70%;
      overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
    max-height: 450px;
    box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.397);
}

.by-box{
    
    background-image: linear-gradient(135deg,rgb(206, 206, 206),rgba(189, 189, 189, 0.521));
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    height: 50px;
    box-shadow: 5px 5px 30px rgba(182, 182, 182, 0.842);
    
    overflow: hidden;
}





.insahallah-p:hover,.m-p:hover,.p-aboute-website:hover,.about-my-self-pg:hover{
        color: #ffffffaf;
    font-weight: 700;
    background-image:linear-gradient(135deg, #b6bebebe 0%, #cfd9e9 100%);
    text-shadow:0px 2px 4px rgba(0, 0, 0, 0.2); 
    border: 1px solid rgba(185, 185, 185, 0.473);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding-bottom: 1px;

}


.by-text{
    
    color: #6d7470b4;
    font-weight: 700;
    padding-top: 10px;
    display: inline-block;
    animation: by-text-animation 7s infinite linear;
    white-space: nowrap;
    
    
}
@keyframes by-text-animation {
    0% {color: #6d7470b4;}
    50% {color: #22884caf;}
    100% {color: #6d7470b4;}
}

@keyframes by-text-animation {
    0% {transform: translateX(-600px);}
    100% {transform: translateX(1900px);}
}












@media only screen  and (max-width: 800px) {
    body {
        margin: 0 
        !important;
        padding: 0 !important;
    }
    .welcome-text{
        width: 40%;
        
    }
    .world-class-box{
        min-height: 280px;
        border-radius: 5px;
    }

    .image-fluid{
        margin-top: 23%;
        width: 100%;
        padding: 0%;
        
    }

    .metro-video-backcover{
        border-left: 10px solid ;
        margin-top: 35%;
        width: 100%;
    }
    .metro-video{
        width: 100%;
        margin-left: 5%;
    }
    .metro-tour-explain{
        min-height: 280px;
        margin-right: 0%;
        border-radius: 5px;
        margin-top: 10%;
    }

    
    /* কলামগুলোকে পাশাপাশি থেকে নিচে নিচে নিয়ে আসবে */
   .row-col-7 .col-7,.row-col-7 .col-5 {
        width: 100% !important; /* ফুল স্ক্রিন চওড়া করার জন্য */
        flex: 0 0 100% !important;
        max-width: 100% !important;
        
    }
  .album{
    margin-left: 5%;
    width: 90%;
    height: 400px;
    max-height: 350px;
  }
  @keyframes by-text-animation {
    0% {transform: translateX(-550px);}
    100% {transform: translateX(800px);}
    
  }
  
}




